{% extends "layout.html" %}

{% block content %}
<article class="card-body mx-auto" style="color: #FF6600;">
<div class="jumbotron" style="background-color: #fef65b; min-height: 300px;">

    <h2>REGISTRACIJA</h2>
    <form action="" method="post" >
        {{ form.hidden_tag() }}
         <p><h4>
            {{ form.ime.label }}<br>
            {{ form.ime(size=32) }}<br>
            {% for error in form.ime.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
         <p><h4>
            {{ form.prezime.label }}<br>
            {{ form.prezime(size=32) }}<br>
            {% for error in form.prezime.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
         <p><h4>
            {{ form.spol.label }}<br>
            {{ form.spol(size=32) }}<br>
            {% for error in form.spol.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p><h4>
            {{ form.mjesto.label }}<br>
            {{ form.mjesto(size=32) }}<br>
            {% for error in form.mjesto.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p><h4>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p><h4>
            {{ form.email.label }}<br>
            {{ form.email(size=32) }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p><h4>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p><h4>
            {{ form.password2.label }}<br>
            {{ form.password2(size=32) }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p><h4>{{ form.submit() }}</p><h4>
    </form>

</div>
</article>

{% endblock %}